### Part 1: Importing the Dataset and  Exploratory Data Analysis (EDA)

Using `pandas` to import the dataset. Importing `pandas` and then reading the file using the `.read_csv` *function* and passing the name of the dataset as a *string*.

Because the rows in the dataset are separated using a `\t`, the type of delimiter is specified in the `.read_csv()` *function*; the default value is `,`. Additionally, the list of column names to use is specified (`"label"` and `"emails"`).

In [1]:
import pandas as pd

emails = pd.read_csv('EmailSpamCollection', sep = '\t', names = ["label", "email"])

Before performing any algorithm on the *dataframe*, it is always good practice to perform exploratory data analysis.

Begining by visualizing the first ten rows of the `df` *dataframe* using the `head()` *function*. By default, *`head()`* displays the first five rows of a *dataframe*.

In [2]:
emails.head(5)

  label                                              email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

Next, more information is retrieved about the *dataframe* by using the `shape` and `columns` *methods* and the `describe()` *function*.

Here's a brief description of what each of the above *functions* does:
- `shape`: returns a *tuple* representing the dimensionality of the *dataframe*.
- `columns`: returns the column labels of the *dataframe*.
- `describe()`: returns summary statistics of the columns in the *dataframe* provided, such as mean, count, standard deviation, etc.

In [3]:
emails.shape

(5572, 2)

In [4]:
emails.columns

Index(['label', 'email'], dtype='object')

In [5]:
emails.describe()

       label                   email
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30